html{

    scroll-behavior:smooth;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#F8FAFC;
    color:#1E293B;
}

.navbar{

    position:sticky;
    top:0;

    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(0,0,0,.08);

    z-index:1000;

}

.logo{

    display:flex;
    align-items:center;
    gap:10px;

    font-size:26px;
    font-weight:700;

    cursor:pointer;

}

.logo i{

    color:#6366F1;
    font-size:30px;

}

.logo span{

    background:linear-gradient(
        90deg,
        #6366F1,
        #8B5CF6
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}

.search-box{

    width:420px;
    height:48px;

    background:white;

    display:flex;
    align-items:center;

    padding:0 18px;

    border-radius:50px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.05);

}

.search-box i{

    color:gray;

}

.search-box input{

    border:none;
    outline:none;

    width:100%;

    margin-left:12px;

    background:none;

    font-size:15px;

}

.nav-right{

    display:flex;
    align-items:center;
    gap:18px;

}

.icon-btn{

    width:45px;
    height:45px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    background:white;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.icon-btn:hover{

    background:#6366F1;
    color:white;

    transform:translateY(-4px);

}

.profile img{

    width:48px;
    height:48px;

    border-radius:50%;

    object-fit:cover;

    cursor:pointer;

    transition:.3s;

}

.profile img:hover{

    transform:scale(1.08);

}

@media(max-width:900px){

.search-box{

    display:none;

}

.navbar{

    padding:0 20px;

}

.logo{

    font-size:22px;

}

} 


       /* HERO SECTION*/

.hero{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:70px 60px;

    gap:60px;

}

.hero-left{

    flex:1;

}

.greeting{

    color:#6366F1;
    font-weight:600;
    margin-bottom:15px;

}

.hero-left h1{

    font-size:52px;
    line-height:1.2;
    color:#0F172A;

}

.hero-text{

    margin:25px 0;

    color:#64748B;

    line-height:1.8;

    max-width:550px;

}

.add-task-btn{

    border:none;

    padding:16px 30px;

    border-radius:50px;

    background:linear-gradient(
        90deg,
        #6366F1,
        #8B5CF6
    );

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

    box-shadow:
    0 10px 30px rgba(99,102,241,.25);

}

.add-task-btn:hover{

    transform:translateY(-5px);

    box-shadow:
    0 20px 40px rgba(99,102,241,.35);

}
.hero-right{

    width:350px;

}

.date-card{

    background:white;

    padding:35px;

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 15px 35px rgba(0,0,0,.08);

}

.date-card p{

    color:gray;

    margin-bottom:10px;

}

.date-card h2{

    color:#6366F1;

    font-size:30px;

} 

/*  STATS CARDS */

.stats{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;

    padding:20px 60px;

}

.stat-card{

    background:white;

    padding:25px;

    border-radius:20px;

    display:flex;

    align-items:center;

    gap:20px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.06);

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-8px);

}

.stat-icon{

    width:55px;

    height:55px;

    border-radius:15px;

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    font-size:22px;

}

.blue{

    background:#6366F1;

}
.green{

    background:#22C55E;

}

.orange{

    background:#F59E0B;

}

.purple{

    background:#8B5CF6;

}

.stat-card h2{

    font-size:30px;

}

.stat-card p{

    color:#64748B;

}

@media(max-width:1000px){

.stats{

grid-template-columns:
repeat(2,1fr);

}

}

@media(max-width:600px){

.stats{

grid-template-columns:
1fr;

padding:20px;

}

} 

/*  TASK FORM */


.task-section{

    padding:50px 60px;

}


.section-header h2{

    font-size:32px;

    color:#0F172A;

}

.section-header p{

    color:#64748B;

    margin-top:8px;

}

.task-form{

    margin-top:30px;

    background:white;

    padding:35px;

    border-radius:25px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.06);

}

.input-group{

    display:flex;

    flex-direction:column;

    gap:10px;

    margin-bottom:20px;

}

.input-group label{

    font-weight:600;

    color:#334155;

}

.input-group input,
.input-group textarea,
.input-group select{


    padding:15px;

    border-radius:12px;

    border:1px solid #E2E8F0;

    outline:none;

    font-size:15px;

    transition:.3s;

}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus{

    border-color:#6366F1;

    box-shadow:
    0 0 0 3px rgba(99,102,241,.15);

}

textarea{

    height:120px;

    resize:none;

}

.form-row{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:20px;

}

.create-btn{


    margin-top:15px;

    padding:15px 35px;

    border:none;

    border-radius:50px;

    color:white;

    background:
    linear-gradient(
    90deg,
    #6366F1,
    #8B5CF6
    );

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.create-btn:hover{

    transform:translateY(-4px);

}

@media(max-width:800px){

.form-row{

grid-template-columns:1fr;

}


.task-section{

padding:30px 20px;

}

}

/* TASK CARDS */


.task-list-section{

    padding:40px 60px;

}

.task-container{

    margin-top:30px;

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:25px;

}

.task-card{

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.06);

    transition:.3s;

    animation:slideUp .5s ease;

}

.task-card:hover{

    transform:translateY(-8px);

}

.task-card h3{

    font-size:22px;

    color:#0F172A;

}

.task-card p{

    color:#64748B;

    margin:15px 0;

    line-height:1.6;

}

.badges{

    display:flex;

    gap:10px;

    flex-wrap:wrap;

}

.badge{

    padding:6px 14px;

    border-radius:50px;

    font-size:13px;

    font-weight:600;

}

.category{

    background:#E0E7FF;

    color:#4338CA;

}

.high{

    background:#FEE2E2;

    color:#DC2626;

}

.medium{

    background:#FEF3C7;

    color:#D97706;

}

.low{

    background:#DCFCE7;

    color:#16A34A;

}

.task-date{

    margin-top:15px;

    color:#64748B;

    font-size:14px;

}

.task-actions{

    margin-top:20px;

    display:flex;

    gap:10px;

}

.task-actions button{

    border:none;

    padding:10px 15px;

    border-radius:10px;

    cursor:pointer;

}

.complete-btn{

    background:#22C55E;

    color:white;

}

.delete-btn{

    background:#EF4444;

    color:white;

}

.completed{

    opacity:.6;

    text-decoration:line-through;

}

@media(max-width:1000px){

.task-container{

grid-template-columns:
repeat(2,1fr);

}

}

@media(max-width:700px){

.task-container{

grid-template-columns:
1fr;

}


.task-list-section{

padding:30px 20px;

}

} 

/*FILTERS*/


.filters{

    display:flex;

    gap:15px;

    margin-top:30px;

    margin-bottom:30px;

    flex-wrap:wrap;

}

.filter-search{

    display:flex;

    align-items:center;

    gap:10px;

    background:white;

    padding:12px 18px;

    border-radius:50px;

    box-shadow:
    0 8px 20px rgba(0,0,0,.06);

}

.filter-search input{

    border:none;

    outline:none;

    width:250px;

}

.filters select{

    padding:12px 20px;

    border-radius:50px;

    border:none;

    outline:none;

    background:white;

    box-shadow:
    0 8px 20px rgba(0,0,0,.06);

    cursor:pointer;

} 

/*TOAST */


#toast{

position:fixed;

bottom:30px;

right:30px;

background:#111827;

color:white;

padding:15px 25px;

border-radius:12px;

opacity:0;

transform:translateY(30px);

transition:.3s;

z-index:999;
}

#toast.show{

opacity:1;

transform:translateY(0);

} 

.edit-btn{

background:#6366F1;

color:white;

}

.task-actions button{

width:40px;

height:40px;

}

/* DARK MODE */

body.dark{

    background:#0F172A;

    color:white;

}

body.dark .navbar,
body.dark .stat-card,
body.dark .task-form,
body.dark .task-card,
body.dark .date-card{

    background:#1E293B;

    color:white;

}


body.dark h1,
body.dark h2,
body.dark h3{

    color:white;

}



body.dark p{

    color:#CBD5E1;

}

body.dark input,
body.dark textarea,
body.dark select{

    background:#334155;

    color:white;

    border:none;

}

/* Keep Navbar Search White */

body.dark .search-box{

    background:white;

}

body.dark .search-box input{

    background:white;

    color:#111827;

}

body.dark .search-box i{

    color:#6366F1;

}

/* Filter Search stays white in dark mode */

body.dark .filter-search{

    background:white;

}

body.dark .filter-search input{

    background:white;

    color:#111827;

    border:none;

    outline:none;

}

body.dark .filter-search i{

    color:#6366F1;

}

@keyframes slideUp{

from{

    opacity:0;

    transform:translateY(30px);

}

to{

    opacity:1;

    transform:translateY(0);

}

} 

/* EMPTY STATE */


.empty-state{

text-align:center;

padding:50px;

background:white;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.05);

animation:fadeIn .5s ease;

}

.empty-state i{

font-size:50px;

color:#6366F1;

margin-bottom:15px;

}

.empty-state h3{

margin-bottom:10px;

}

body.dark .empty-state{

background:#1E293B;

color:white;

}

.task-card.completed{

opacity:.7;

}

.task-card.completed h3{

text-decoration:line-through;

}

/*NOTIFICATION PANEL*/

.notification-box{

    position:relative;

}

.notification-panel{

    position:absolute;

    right:0;

    top:60px;

    width:280px;

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.15);

    display:none;

    z-index:2000;

}

.notification-panel h3{

    font-size:18px;

    margin-bottom:10px;

}

.notification-panel p{

    color:#64748B;

    font-size:14px;

}

.notification-panel.show{

    display:block;

}

body.dark .notification-panel{

    background:#1E293B;

    color:white;

}
/*PROFILE DROPDOWN*/

.profile-box{

    position:relative;

}

.profile-menu{

    position:absolute;

    right:0;

    top:65px;

    width:230px;

    background:white;

    padding:20px;

    border-radius:18px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.15);

    display:none;

    z-index:2000;

}

.profile-menu.show{

    display:block;

}

.profile-menu h3{

    margin-bottom:5px;

}

.profile-menu p{

    font-size:14px;

    color:#64748B;

    margin-bottom:15px;

}

.profile-menu button{

    width:100%;

    border:none;

    background:none;

    padding:12px;

    text-align:left;

    cursor:pointer;

    border-radius:10px;

    font-size:15px;

}

.profile-menu button:hover{

    background:#EEF2FF;

}

.profile-menu i{

    width:25px;

}

body.dark .profile-menu{

    background:#1E293B;

    color:white;

}

body.dark .profile-menu button{

    color:white;

}

body.dark .profile-menu button:hover{

    background:#334155;

}

  /* SETTINGS PANEL*/

.settings-panel{

    position:fixed;

    top:100px;

    right:40px;

    width:320px;

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:
    0 20px 40px rgba(0,0,0,.15);

    display:none;

    z-index:3000;

}

.settings-panel.show{

    display:block;

}

.settings-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.settings-header h3{

    font-size:22px;

}

.settings-header button{

    border:none;

    background:#EEF2FF;

    width:35px;

    height:35px;

    border-radius:50%;

    cursor:pointer;

}

.setting-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 0;

    border-bottom:1px solid #E2E8F0;

}

.setting-item span{

    display:flex;

    gap:10px;

    align-items:center;

    font-weight:500;

}

/* Toggle Switch */


.switch{

    position:relative;

    width:45px;

    height:24px;

}

.switch input{

    display:none;

}

.slider{

    position:absolute;

    inset:0;

    background:#CBD5E1;

    border-radius:30px;

    cursor:pointer;

    transition:.3s;

}

.slider:before{

    content:"";

    position:absolute;

    height:18px;

    width:18px;

    left:3px;

    top:3px;

    background:white;

    border-radius:50%;

    transition:.3s;

}



.switch input:checked + .slider{

    background:#6366F1;

}



.switch input:checked + .slider:before{

    transform:translateX(21px);

}



/* Dark Mode */


body.dark .settings-panel{

    background:#1E293B;

    color:white;

}


body.dark .setting-item{

    border-color:#334155;

}


body.dark .settings-header button{

    background:#334155;

    color:white;

}
